<div class="container-sm w-50 p-3">
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th class="text-center"><%= t("code")%></th>
                <th class="text-center"><%= t("campus")%></th>
                <th class="text-center"><%= t("size")%></th>
                <th class="text-center"><%= t("model")%></th>
                <th class="text-center"><%= t("mark")%></th>
                <th colspan="1"></th>
            </tr>
        </thead>

        <tbody>
            <% @screens.each do |screen| %>
                <tr>
                    <td class="text-center p-3"><%= screen.code %></td>
                    <td  class="text-center p-3"><%= screen.campus %></td>
                    <td class="text-center p-3"><%= screen.size %></td>
                    <td class="text-center p-3"><%= screen.model %></td>
                    <td class="text-center p-3"><%= screen.mark %></td>
                </tr>
            <%end%>
        </tbody>
    </table>
    <%= link_to t('back'), screens_path , class: "btn btn-outline-primary"%>
</div>