<div class="container-sm w-75 p-4">
    <div class="card" style="width: 20rem;">
      
      <div class="card-body">
        <h5 class="card-title">Activo Creado</h5>
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Code:</strong>
          <%= @screen.code %>
        </p>

        <p>
          <strong>Campus:</strong>
          <%= @screen.campus %>
        </p>

        <p>
          <strong>Size:</strong>
          <%= @screen.size %>
        </p>

        <p>
          <strong>Model:</strong>
          <%= @screen.model %>
        </p>

        <p>
          <strong>Mark:</strong>
          <%= @screen.mark %>
        </p>
        
        <%= link_to t('edit'), edit_screen_path(@screen)  ,class: "btn btn-outline-primary"%>
        <%= link_to t('back'), screens_path ,class: "btn btn-outline-primary"%>
      </div>
    </div>
</div>
